@import "tailwindcss";

body{
  background-color: var( --bg-main);
  color: var(--text-main);
}
/* ROOT – LIGHT MODE */
:root {
  /* Backgrounds – soft, premium, neutral */
  --bg-main: #f4f6f8;
  --bg-secondary: #e9edf2;
  --bg-gradient: linear-gradient(
    135deg,
    #f8fbff,
    #eef4ff,
    #e0ecff
  );

  /* Text – strong readability */
  --text-main: #0f172a;
  --text-secondary: #475569;

  /* Accent Colors – trustworthy blue */
  --accent-primary: #2563eb;   /* main action */
  --accent-secondary: #1e40af; /* hover / focus */

  /* Borders */
  --border-light: #dbe3ee;
}

/* DARK MODE */
.dark {
  /* Backgrounds – soft faded black */
  --bg-main: #121212;
  --bg-secondary: #1a1a1a;
  --bg-gradient: linear-gradient(
    135deg,
    #141414,
    #181818,
    #1f1f1f
  );

  /* Text */
  --text-main: #f1f5f9;
  --text-secondary: #cbd5e1;

  /* Accent Colors – unchanged */
  --accent-primary: #4891e9;
  --accent-secondary: #3b82f6;

  /* Borders – subtle separation */
  --border-light: #2a2a2a;
}



/* Smooth transition for all theme-dependent properties */
* {
  transition: background-color 0.4s ease, color 0.4s ease,
    border-color 0.4s ease;
}

@font-face {
  font-family: "Heading";
  src: url("./assets/fonts/Oswald.ttf") format("truetype");
  font-display: swap;
}

.heading {
  font-family: "Heading", sans-serif;

  font: italic;
}

.text-secondary{
  color: var(--text-secondary);
}

::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  animation: marquee linear infinite;
}

/* ==================================== SELECTION ====================================  */

::selection {
  background: #16a34a;
  color: #ffffff;
}

::-moz-selection {
  background: #16a34a;
  color: #ffffff;
}

.my-text::selection {
  background: #10b981;
  color: #ffffff;
}
.my-text::-moz-selection {
  background: #10b981;
  color: #ffffff;
}

input::selection,
textarea::selection {
  background: #16a34a;
  color: #ffffff;
}
input::-moz-selection,
textarea::-moz-selection {
  background: #16a34a;
  color: #ffffff;
}

/* ==================================== SELECTION ====================================  */


